<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.marios.mathlearn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/launchericon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Dialekseis"
            android:label="@string/title_activity_dialekseis"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Askhseis"
            android:label="@string/title_activity_askhseis"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Anakoinwseis"
            android:label="@string/title_activity_anakoinwseis"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProvolhAnakoinwshs"
            android:label="@string/title_activity_provolh_dialekshs"
            android:parentActivityName=".Anakoinwseis"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ProvolhDialekshs"
            android:label="@string/title_activity_provolh_dialekshs"
            android:parentActivityName=".Dialekseis"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity android:name=".MainBase"></activity>
    </application>

</manifest>
